 <div class="dropdown" style="margin-top: 50px;margin-bottom: 50px;">
  <mat-label style="margin-right: 20px;" >Ay:</mat-label>
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   {{month }} 
  </button>
  <ul class="dropdown-menu">
    @for (item of months; track $index) {
     <li><a class="dropdown-item" style="cursor: pointer;" (click)="setDropDownValue(item)">{{item}}</a></li>

    }
    </ul>
</div>
 
 <div style="width: 900px;">
  <canvas id="acquisitions"></canvas>
</div>
