<div class="row">
  
<div class="card" style="width: 18rem;float: left;margin: 5px;" *ngFor="let item of products">
  @if(item.mainImagePath)
  {
  
    <img  class="card-img-top" [src]="item.mainImagePath"  alt="Card image cap">

  }
  @else {
    <img class="card-img-top"  src="default-product.png" alt="Card image cap">
  }
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">{{item.price| currency:'₺' }}</p>
    <div class="">
          <button class="add-to-cart-btn" (click)="addBasketItem(item.id)" >
             Sepete ekle
          </button>
    </div>
  </div>
</div>

</div>


<nav aria-label="..." class="d-flex justify-content-center">
  <ul class="pagination">
      <li class="page-item">
      <a class="page-link">{{currentPageNo+"/"+totalPageCount}}</a>
    </li>
    <li class="page-item{{(currentPageNo-1)<=0?' disabled':''}}">
      <a class="page-link" [routerLink]="['/products',(currentPageNo-1)]">Önceki</a>
    </li>
  
    <li class="page-item" routerLinkActive="active" *ngFor="let item of pageItems"><a  [routerLink]="['/products',item]" class="page-link" href="#">{{item}}</a></li>
    <li class="page-item{{(currentPageNo+1)>totalPageCount?' disabled':''}}">
      <a class="page-link"  [routerLink]="['/products',(currentPageNo+1)]" >Sonraki</a>
    </li>
  </ul>
</nav>