:host {
  display:flex;
  flex-direction: column;
  align-items:center;
}
.product-update
{
    margin: 5px 5px 5px;
}

.update-chip-list {
  width: 100%;
  margin: 5px 5px 5px;

}
.btn
{
    margin-top: 4px;
}