:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-create
{
    margin: 5px 5px 5px;
}
.btn
{
    margin:5px 5px 5px;
}
.create-chip-list {
  width: 100%;
  margin: 5px 5px 5px;

}