.product-image-card {
  max-width: 250px;
  margin: 5px;
  float: left;
}

.product-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}